<section class="element-item <%=post.klasse %>">
<article>
  <h3 class="titel_post"><%=post.naam %></h3>
  <img src="/imgs/<%=post.foto1 %>" alt="<%=post.foto1alt %>" class="foto's"></img>
  <a href="/overzicht/<%=index %>"><button type="button" name="button" class="button">Meer informatie</button></a>
</article>
</section>
